Source: ros-jazzy-ros2cli-common-extensions
Section: misc
Priority: optional
Maintainer: Dharini Dutia <dharini@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-ros2cli-common-extensions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-launch-xml, ros-jazzy-launch-yaml, ros-jazzy-ros2action, ros-jazzy-ros2cli, ros-jazzy-ros2component, ros-jazzy-ros2doctor, ros-jazzy-ros2interface, ros-jazzy-ros2launch, ros-jazzy-ros2lifecycle, ros-jazzy-ros2multicast, ros-jazzy-ros2node, ros-jazzy-ros2param, ros-jazzy-ros2pkg, ros-jazzy-ros2run, ros-jazzy-ros2service, ros-jazzy-ros2topic, ros-jazzy-sros2, ros-jazzy-ros-workspace
Description: Meta package for ros2cli common extensions
